```css id="t7v2pk"
body{
    margin:0;
    padding:0;
    display:flex;
    font-family:'Poppins', sans-serif;
    background:#fff0f5;
}

/* SIDEBAR */
.sidebar{
    width:350px;
    height:100vh;
    overflow-y:auto;
    background:linear-gradient(to bottom, #ffd6e7, #fff0f5);
    padding:20px;
    box-shadow:5px 0px 15px rgba(0,0,0,0.1);
    flex-shrink:0;
}

/* FOTO */
.sidebar img{
    width:150px;
    height:150px;
    border-radius:50%;
    display:block;
    margin:auto;
    object-fit:cover;
    border:5px solid white;
    box-shadow:0px 0px 20px pink;
}

/* JUDUL */
.sidebar h1{
    text-align:center;
    color:#ff4f8b;
    font-family:'Pacifico', cursive;
    font-size:28px;
    line-height:1.5;
}

/* CARD */
.profile p{
    background:white;
    padding:12px;
    border-radius:15px;
    margin-bottom:12px;
    box-shadow:0px 3px 8px rgba(255,182,193,0.3);
    transition:0.3s;
}

/* HOVER */
.profile p:hover{
    transform:scale(1.03);
}

/* MAP */
#map{
    flex:1;
    height:100vh;
}
```

```css id="q2v8tn"
.custom-icon{
    font-size:50px;
    text-align:center;
}
```
